*{
    font-family: sans-serif;
}


.titulo{
    text-align: center;
}
.pontos{
    text-align: center;
}
.campo{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
}

.area_de_jogo{
    width: 1000px;
    height: 400px;
    background-color: rgba(12, 84, 218, 0.11);
    margin: 20px;
    border-radius: 20px;
    padding:20px;
}


.player{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: blue;
    transition: all 0.1s ease;
    position: relative;
}

/* ArrowLeft
   ArrowUp
   ArrowDown
   ArrowRight
*/