<%- include('includes/head'); %>

<body>

  <section class="container">
    <h1>lorem normal</h1>

    <form action="/" method="post">
    <label>Cliente</label>
    <input type="text" name="client">
    <button>Submmit</button>
  </form>
  </section>

<%- include('includes/footer') %>